@import '../styles/fonts/fonts.css';

.cadastro{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1000px;
    height: 480px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #B5757542;
    border-radius: 15px;
    border: 1px solid rgba(181, 117, 117, 0.4);
    margin-top: 2%;
    gap: 20px;
}

.container h1 {
    font-family: 'DancingScript';
    font-size: 4rem;
    font-weight: bold;
    color: #663b2b;
    margin: 0 0 15px 0;
}

.input-grid {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.input-group {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    gap: 25px;
}

select {
  width: 330px;
  padding: 8px 12px;
  font-size: 1rem;
  color: #663b2b;
  border: 2px solid #663b2b;
  border-radius: 10px;
  outline: none;
  background-color: #fff;
}

/* Diminuir largura dos inputs dentro do formulário */
.container .input {
  width: 280px !important;
}

/* Diminuir um pouco o botão de cadastrar */
.container button {
  min-width: 150px !important;
  padding: 10px 22px !important;
  font-size: 1.3rem !important;
}

/* Altura específica para o card de login */
.login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}

.login .container {
  height: 400px !important;
}

/* Gap específico para input-grid na página de login */
.login .input-grid {
  gap: 5px !important;
}