@import '../styles/fonts/fonts.css';

.containerHistoiricoVendas {
    background-color: #F7F7F7;
    
    .contentHistoiricoVendas{
        display: flex;
        flex-direction: row;
        width: auto;
        padding: 0 5%;
        justify-content: center;


        .filtros{
            width: 20%;
            background-color: #D1C8C2;
            border-radius: 16px;
            border: #56270B 2px solid;
            
            .filtroItem{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1rem;
            }            

            .filtroRadio{
                display: flex;
                flex-direction: column;
                margin-bottom: 0rem;
                margin-top: 1rem;
                padding-left: 0px;
                align-items: flex-start;

                label {
                    font-family: 'Montserrat';
                    font-size: 1rem;
                    color: #56270B;
                    margin-bottom: 1rem;
                }

                input {
                    margin-right: 10px;
                    margin-left: 70px;
                }
            }

            input[type="radio"] {
                appearance: none;
                -webkit-appearance: none;
                width: 15px;
                height: 15px;
                border: 2px solid #56270B;
                border-radius: 3px;
                background-color: #B4A499;
                cursor: pointer;
                position: relative;
            }
        
            input[type="radio"]:checked {
                background-color: #B4A499;
            }
        
            input[type="radio"]:checked::after {
                content: 'X';
                color: #56270B;
                font-size: 1rem;
                font-weight: normal;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            label {
                font-family: 'Montserrat';
                font-size: 1.5rem;
                color: #56270B;
                margin-bottom: 0.5rem;
            }

            h1 {
                font-family: 'DancingScript';
                font-size: 2rem;
                font-weight: bold;
                color: #663b2b;
                text-align: center;
                margin: 1.5rem 0;
                padding-bottom: 15px;
                border-bottom: #56270B 2px solid;
            }

            .inputData{
                background-color: #D9D9D9;
                border: #76533E 2px solid;
                border-radius: 3px;
                height: 40px;
                width: 150px;

                font-family: 'Montserrat';
                font-size: 1rem;
                color: #56270B;
                text-align: center;
            }

            .periodoDate{
                background-color: #D9D9D9;
                border: #76533E 2px solid;
                border-radius: 3px;
                height: 22px;
                width: 170px;

                font-family: 'Montserrat';
                font-size: 1rem;
                color: #56270B;
                text-align: center;
                letter-spacing: 2px;
            }

            button{
                width: 80%;
                background-color: #663b2B;
                color: #FFFFFF;
                font-family: 'Montserrat';
                font-size: 1rem;
                border: none;
                border-radius: 8px;
                padding: 10px 0px;
                cursor: pointer;
                /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); */
                transition: all 0.3s ease-in-out;
                margin-bottom: 20px;
            }
        }

        .leftContent{
            width: 80%;
        }
    }


    h1 {
        font-family: 'DancingScript';
        font-size: 3rem;
        font-weight: bold;
        color: #663b2b;
        text-align: center;
        margin-bottom: 1.5rem;
        margin-top: 0.5rem;
    }

    h3 {
        font-family: 'DancingScript';
        font-size: 2.5rem;
        font-weight: bold;
        color: #56270B;
        margin-bottom: 1rem;
        text-align: center;
    }

    /* ====== Seção de Resumo ====== */
    .resumo {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 2% 0;
        gap: 20px;
    }

    .cardResumo {
        background-color: #D1C8C2;
        border-radius: 20px;
        padding: 20px 40px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        min-width: 220px;
        text-align: center;
    }

    .cardResumo h4 {
        font-family: 'Montserrat';
        font-size: 1.8rem;
        color: #56270B;
        margin-bottom: 0.5rem;
    }

    .cardResumo p {
        font-family: 'Montserrat';
        font-size: 2rem;
        color: #663b2b;
        font-weight: bold;
        margin: 0;
    }

    /* .leftContent {

    } */

    /* ====== Tabela ====== */
    .tabelaContainer {
        margin: 0 auto 0 auto; 
        width: 90%;
        overflow-x: auto;
        border-radius: 12px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        background-color: #D1C8C2;

    }
    
    .btnDetalhes{
        background-color: #D1C8C2;
    }
    
    .tabelaContainer table {
        width: 100%;
        font-family: 'Montserrat';
        font-size: 1.1rem;
        border: #56270B 1px solid;
        border-radius: 10px;
        

        max-height: 30em;
        display: block;
        overflow-y: auto;
        /* Scrollbar custom */
        scrollbar-width: thin;
        scrollbar-color: #a86b32 #f9f6f3;
    }

    .tabelaContainer thead {
        background-color: #56270B;
        color: #FFFFFF;
    }

    .tabelaContainer th,
    .tabelaContainer td {
        padding: 8px 10px;
        text-align: center;
        border-bottom: 1px solid #D1C8C2;
    }

    .tabelaContainer td {
        padding: 0px 18px;
        color: #56270B;
        width: 30%;
        border: #b49e92 1px solid;
    }

    .tabelaContainer tr:hover {
        background-color: #F0E9E6;
    }

    /* ====== Botões ====== */

    .exportar {
        background-color: #663b2B;
        color: #FFFFFF;
    }

    .exportar:hover {
        background-color: #56270B;
    }

    .limpar {
        background-color: #896A56;
        color: #FFFFFF;
    }

    .limpar:hover {
        background-color: #6F5544;
    }
}