@import '../styles/fonts/fonts.css';

* {
    font-family: 'Montserrat';
}

.logo {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav {
    height: 75px;
    background-color: #BAB1AB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-bottom: 2px solid #4d2200;
}

nav img {
    width: 64px;
    height: 64px;
}

nav .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 56px;
}

.links .navlink {
    width: 95px;
    min-width: 95px;
    max-width: 95px;
    padding: 8px 0;
    border-radius: 10px;
    background-color: #4d2200;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.navlink:hover {
    cursor: pointer;
    background-color: #76533E;
}

h4{
    font-family: 'DancingScript';
    font-size: 1.8rem;
    font-weight: bold;
    color: #56270B;
}
