.input-container {
  position: relative;
  width: fit-content;
  margin: 20px 0;
}

.input {
  width: 300px;
  padding: 16px 12px 8px;
  font-size: 1rem;
  color: #663b2b;
  border: 2px solid #663b2b;
  border-radius: 4px;
  outline: none;
  background-color: #E6D5D5;
}

.label {
  position: absolute;
  left: 12px;
  top: 16px;
  padding: 0 4px;
  color: #663b2b;
  font-size: 1rem;
  background-color: #E6D5D5;
  transition: all 0.2s ease-out;
  pointer-events: none;
}

.active {
  top: -12px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #663b2b;
}